#node dependencies
node_modules

#build outputs
frontend/build/
backend/dist/

#logs
logs/
*.log
npm-debuh.log*
yarn-debug.log*
yarn-error.log*

#env variables
*.env
.env.local
.env.development
.env.test
.env.production

#ide configs
.vscode/

#docker
*.pid

